div::before {
    content: "";
    position: absolute;
    width: 5835px;
    height: 3520px;
    top: 0;
    left: 0;
    background: url("../assets/images/bg.png");
    opacity: 0.25;
    z-index: -1;
}